<!DOCTYPE html>
<html>
<head>
	<meta http-equiv='Content-Type' content='text/html; charset=utf-8'>
	<meta tag='viewport' content='width=device-width, item-scalable=no'>
	<title>Explotación</title>

	<!--  ==================== Librerias externas ==================== -->
	<link rel="stylesheet" href="lib/bootstrap_335.min.css">
	<link rel="stylesheet" href="lib/font-awesome_430.min.css">

	<script type='text/javascript' src="lib/jquery_321.min.js"></script>
	<script type='text/javascript' src="lib/bootstrap_337.min.js"></script>
	<script type='text/javascript' src="lib/vue_2517.js"></script>
	<script type='text/javascript' src='lib/libBase64.js'></script>

	<link rel="stylesheet" href="css/vueModal.css">
	<style type="text/css">
	.item {
		cursor: pointer;
	}
	ul {
		padding-left: 2em;
		line-height: 1.5em;
		list-style-type: none;
	}
	</style>


	<script type='module' src='js/stocks.js'></script>

<title>Inventario</title>

</head>
<body>

	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">Explotación</a>
			</div>
			<ul class="nav navbar-nav">
				<li class="active"><a href="javascript:showInventario()">Inventario</a></li>
				<li class="active"><a href="javascript:malla_OxA()">Existencias</a></li>
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#"><span id="MALLAS"> Regenera</span>
					<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="javascript:regeneraInvent()">Inventario</a></li>
						<li><a href="javascript:regeneraExists()">Existencias</a></li>
					</ul>
				</li>



			</ul>

		<ul class="nav navbar-nav navbar-right">
			<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#">
					<i class="fa fa-user">&nbsp;</i>
					<span id="usrMenu"> User</span>
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu">
					<li>
						<a href="javascript:cambiaPwdUser()">
							<span id="CHPWD">Cambiar password</span>
						</a>
					</li>
					<li>
						<a href="javascript:cambiaKeoUser()">
							<span id="CHKEO">Cambiar idioma</span>
						</a>
					</li>
					<li>
						<a href="javascript:cierraSesion()">
							<span id="EXIT">Cerrar sesión**</span>
						</a>
					</li>
				</ul>
			</li>
		</ul>
	</nav> 


<div class="container">
<div class="row">

<div class="col-md-12">
<!-- the demo root element -->
<ul id="appInvent">
	<item class="item" :model="treeData"> </item>
</ul>
</div> <!-- col-md-10 -->

</div> <!--row -->

<div class="row">
	<div id="appMalla">
		<button v-if="tabla.length" class="button" @click="grabaMallaOA()">Grabar</button>
		<button v-if="tabla.length" class="button" @click="regenMallaOA()">Regenera</button>
		<table class="table">
			<tr v-for="(fila,ixRow) in tabla">
				<td v-for="(campo,ixCol) in fila" @click="onOff(ixRow,ixCol)" v-html="campo"></td>
			</tr>
		</table>
	</div>
</div>
</div> <!-- container -->

<script type="text/x-template" id="item-template">
	<li style =" margin-top:2px;border-left:1px solid gray">
		<div>
			<span	@click="toggle" class="btn btn-info btn-xs" v-if="isFolder && open"><i class="fa fa-minus"></i></span>
			<span	@click="toggle" class="btn btn-info btn-xs" v-else-if="isFolder && !open"><i class="fa fa-plus"></i></span>
			<span @dblclick="editItem" ><b>{{ model.tag }}</b></span>
		</div>
		<ul v-show="open" v-if="isFolder">
			<item
				class="item"
				v-for="(model, index) in model.hijos"
				:key="index"
				:model="model">
			</item>
		</ul>
	</li>
</script>

	<!-- appModal -->
	<div id="appModal">
		<modal v-bind:clase="modo" v-if="show" @close="show = false" @graba="graba()" @borra="borra()">
			<h3 slot="header">{{conds.retol}}</h3>

		<div slot="body">
				<form	v-if="edit_t === 'USER'" class="form">
					<input class="form-control" v-model="item.tag" type="text" name="usr"	placeholder="Usuario">
					<span class="error" v-if="(!conds.valid.tag.ok)">{{conds.valid.tag.txt}}</span>
					<input class="form-control" v-model="item.obj.pwd" type="text" name="pwd" placeholder="Password">
					<span class="error" v-if="(!conds.valid.pwd.ok)">{{conds.valid.pwd.txt}}</span>
					<input class="form-control" v-model="item.obj.conf" type="text" name="conf" placeholder="Confirmac.">
					<span class="error" v-if="(!conds.valid.conf.ok)">{{conds.valid.conf.txt}}</span>
				</form>

				<form	v-if="edit_t === 'CHKEO'" class="form">
					<select size="8" class="form-control">
						<option v-for="item in items" :value="item.obj.keo" @click="idAct = item.obj.keo">{{ item.tag }}</option>
					</select>
				</form>

			<form v-else-if="edit_t === 'RAMA'" class="form">
				<input class="form-control" v-model="item.tag" type="text" name="tag" placeholder="Tag">
				<input class="form-control" v-model="item.obj.descripc" type="text" name="tag" placeholder="Descripc">
				<input class="btn btn-default" type="button" value="+ Rama" onclick = "javascript:addNuevoHijo('RAMA')">
				<input class="btn btn-default" type="button" value="+ Hoja" onclick = "javascript:addNuevoHijo('HOJA')">
			</form>

			<form v-else-if="edit_t === 'HOJA'" class="form">
				<input class="form-control" v-model="item.tag" type="text" name="tag" placeholder="Tag">
				<input class="form-control" v-model="item.obj.descripc" type="text" name="tag" placeholder="Descripc">
			</form>


		</div>
		</modal>
	</div>

</body>
</html>
